@import '../../partials/config';

.login-wrapper {
    display: flex;
    justify-content: center;

    .login-content {
        flex-grow: 1;
        margin: 3rem;
        max-width: $max-form-width;
        padding: 4rem;
        border-radius: 1rem;
        box-shadow: $form-box-shadow;

        .title {
            font-weight: bold;
            text-align: center;
        }
    }
}

@media screen and (max-width: $media-mobile-width) {
    .login-wrapper {
        .login-content {
            margin: 1rem;
            padding: 3rem;
        }
    }
}
